<div style="text-align:left">
    <h1>Gestão de Produtos</h1>
  <nav>
    <a (click)="criarProdutoHTML()">Criar Produto</a>
    <a (click)="editarProdutoHTML()">Editar Produto</a>
    <a (click)="listarProdutosHTML()">Listar Produtos</a>
    <a (click)="adicionarMateriaisHTML()">Definir Materiais</a>
  </nav>

  <div *ngIf="statusMessage; else noError">
    <div class="errorMsg">{{statusMessage}}</div>
  </div>

  <ng-template #noError>
    <div *ngIf="criarProduto" style="text-align:left">
      <p></p>
      <mat-form-field>
        <input matInput placeholder="Nome Produto" #nomeProdutoUpdate>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Altura" #alturaUpdate>
        <mat-hint align="end">Inserir Numero (x) ou Intervalo (x-y)</mat-hint>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Largura" #larguraUpdate>
        <mat-hint align="end">Inserir Numero (x) ou Intervalo (x-y)</mat-hint>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Profundidade" #profundidadeUpdate>
        <mat-hint align="end">Inserir Numero (x) ou Intervalo (x-y)</mat-hint>
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Categoria" [(ngModel)]="selectedCategoriaCreate">
            <mat-option *ngFor="let cat of allCategorias" id="CategoriaCreateId" [value]="cat" >
                ID: {{cat.id}} - {{cat.descricao}}
            </mat-option>
        </mat-select>
      </mat-form-field>
      <p></p>
      <div style="text-align:center">
        <nav>
          <a (click)="addProdutoHTML(nomeProdutoUpdate.value, alturaUpdate.value, larguraUpdate.value, profundidadeUpdate.value)">Criar Produto</a>
        </nav>
      </div>
    </div>

    <div *ngIf="editarProduto" style="text-align:left">
        <p>
            <mat-form-field>
              <mat-select placeholder="Lista de Produtos" [(ngModel)]="selectedProduto" >
                <mat-option *ngFor="let prod of allProdutos" id="listaProdutosUpdate" [value]="prod" (click)="selecionarProduto(prod)">
                  ID: {{prod.id}} - {{prod.nome}}  
                </mat-option>
              </mat-select>
            </mat-form-field>
        </p>
        <mat-form-field>
          <input matInput placeholder="Nome Produto" [(ngModel)]="nomeUpdate">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Altura" [(ngModel)]="alturaUpdate">
          <mat-hint align="end">Inserir Numero (x) ou Intervalo (x-y)</mat-hint>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Largura" [(ngModel)]="larguraUpdate">
          <mat-hint align="end">Inserir Numero (x) ou Intervalo (x-y)</mat-hint>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Profundidade" [(ngModel)]="profundidadeUpdate">
          <mat-hint align="end">Inserir Numero (x) ou Intervalo (x-y)</mat-hint>
        </mat-form-field>
        <mat-form-field>
            <mat-select placeholder="Categoria" [(ngModel)]="selectedCategoria">
                <mat-option *ngFor="let cat of allCategorias" id="listaCategoriasUpdate" [value]="cat" (click)="selecionarCategoria(cat)">
                    ID: {{cat.id}} - {{cat.descricao}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <p></p>
        <div style="text-align:center">
          <nav>
            <a (click)="updateProdutoHTML(nomeUpdate.value, alturaUpdate.value, larguraUpdate.value, profundidadeUpdate.value)">Editar Produto</a>
          </nav>
        </div>
    </div>

    <div *ngIf="listarProdutos" style="text-align:left">
      <h2>Listar Materiais</h2>
      <ul class="produtos">
        <li *ngFor="let prod of allProdutos">
          <span class="badge">{{prod.id}}</span>
          <span>{{prod.nome}}</span>
          <button class="delete" title="delete produto" (click)="deleteProdutoHTML(prod.id)">x</button>
        </li>
      </ul>
    </div>

    <div *ngIf="adicionarMateriais" style="text-align:left">
      <p></p>
      <mat-form-field>
        <mat-select placeholder="Produto" [(ngModel)]="selectedProdutoMaterial" >
          <mat-option *ngFor="let prod of allProdutos" id="listaProdutosUpdate" [value]="prod" (click)="getMateriaisProduto()">
            ID: {{prod.id}} - {{prod.nome}}  
          </mat-option>
        </mat-select>
      </mat-form-field>

      <p></p>
      <mat-form-field>
        <mat-select placeholder="Materiais de Produto" [(ngModel)]="selectedOwnedMaterial" >
          <mat-option *ngFor="let mat of ownedMateriais" id="listaOwnedMateriais" [value]="mat">
            ID: {{mat.id}} - {{mat.tipo}}  
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="Materiais de Produto" [(ngModel)]="selectedNewMaterial" >
           <mat-option *ngFor="let mat of allMateriais" id="listaAllMateriais" [value]="mat">
            ID: {{mat.id}} - {{mat.tipo}}  
          </mat-option>
        </mat-select>
      </mat-form-field>
      <p></p>
      <div style="text-align:left">
        <nav>
            <button mat-raised-button (click)="eliminarMaterial()">Eliminar Material</button>
            <button mat-raised-button (click)="adicionarmaterial()">Adicionar Material</button>
        </nav>
      </div>

    </div>  
  </ng-template>
</div>
