<div *ngIf="!flagServer">
  <div fxLayout="row" fxLayoutWrap="wrap">
    <div fxFlex.gt-sm="100%" fxFlex="100">
      <!-- CRIAR UM ACABAMENTO -->
      <mat-card>
        <mat-card-content>
          <mat-card-title> Criar um acabamento </mat-card-title>
          <mat-card-subtitle> Por favor escolha as opções disponíveis para criar um acabamento (nome é obrigatório).
            Todas as outras opções permitem criar diversas combinações de acabamentos.
            Caso não sejam indicadas opções e apenas o nome, o acabamento será criado com valores padrão.</mat-card-subtitle>
          <mat-grid-list cols="4" fxLayoutWrap="wrap" rowHeight="50px">
            <mat-grid-tile *ngFor="let tile of tiles;let i = index;" [colspan]="tile.cols" [rowspan]="tile.rows"
              [style.background]="tile.color">
              {{tile.text}}

              <span *ngIf="i==4" [style.background]="arrayColorsCriar[selectedColorCriar]" [cpToggle]="true"
                [cpDialogDisplay]="'inline'" [(colorPicker)]="arrayColorsCriar[selectedColorCriar]" [cpOutputFormat]="'hex'"></span>

              <span *ngIf="i==5">
                <span class="padding-right">0</span>
                <mat-slider [(ngModel)]="sliderMetalCriar" [thumbLabel]="true" color="primary" value="0" step="0.01"
                  max="1" min="0"></mat-slider>
                <span class="padding-left">1</span>
              </span>

              <span *ngIf="i==6">
                <span class="padding-right">0</span>
                <mat-slider [(ngModel)]="sliderRugoCriar" [thumbLabel]="true" color="primary" value="0" step="0.01" max="1"
                  min="0"></mat-slider>
                <span class="padding-left">1</span>
              </span>

              <span *ngIf="i==7">
                <form [formGroup]="criarFormGroup">
                  <mat-form-field>
                    <input matInput placeholder="Nome do acabamento" formControlName="criarCtrl" required>
                  </mat-form-field>
                </form>
              </span>

            </mat-grid-tile>
          </mat-grid-list>
          <p class="button-center">
            <button mat-raised-button color="primary" (click)="botaoCriarEvent()">Criar</button>
          </p>
        </mat-card-content>
      </mat-card>
      <!-- EDITAR UM ACABAMENTO -->
      <mat-card>
        <mat-card-content>
          <mat-card-title> Editar um acabamento </mat-card-title>
          <mat-card-subtitle> Por favor escolha um acabamento da lista para poder editar.
            Se não existirem acabamentos disponíveis, crie um acabamento na opção acima. </mat-card-subtitle>
          <mat-grid-list cols="4" fxLayoutWrap="wrap" rowHeight="50px">
            <mat-grid-tile *ngFor="let tile of tiles2;let i = index;" [colspan]="tile.cols" [rowspan]="tile.rows"
              [style.background]="tile.color">
              {{tile.text}}

              <span *ngIf="i==4">
                <mat-form-field *ngIf="disabledAcabamentosList==false">
                  <mat-select placeholder="{{acabamentoTextEditar}}">
                    <mat-option *ngFor="let acabamento of acabamentosList" (click)="acabamentoSelecionadoEvent(acabamento)">
                      {{acabamento.tipo}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <label *ngIf="disabledAcabamentosList==true">
                  Não existem acabamentos!
                </label>
              </span>

              <span *ngIf="i==5">
                <span [style.background]="arrayColorsEditar[selectedColorEditar]" [cpToggle]="true" [cpDialogDisplay]="'inline'"
                  [(colorPicker)]="arrayColorsEditar[selectedColorEditar]" [cpOutputFormat]="'hex'"></span>
              </span>

              <span *ngIf="i==6">
                <span class="padding-right">0</span>
                <mat-slider [(ngModel)]="sliderMetalEditar" [thumbLabel]="true" color="primary" value="sliderMetalEditar"
                  step="0.01" max="1" min="0" [disabled]="disableAllEditar"></mat-slider>
                <span class="padding-left">1</span>
                <p></p>
                <span class="padding-right">0</span>
                <mat-slider [(ngModel)]="sliderRugoEditar" [thumbLabel]="true" color="primary" value="sliderRugoEditar"
                  step="0.01" max="1" min="0" [disabled]="disableAllEditar"></mat-slider>
                <span class="padding-left">1</span>
              </span>

          </mat-grid-tile>
        </mat-grid-list>
        <p class="button-center">
          <button [disabled]="disableCriarButton" mat-raised-button color="primary" (click)="botaoCriarEvent()">Criar</button>
        </p>
      </mat-card-content>
    </mat-card>
    <!-- EDITAR UM ACABAMENTO -->
    <mat-card>
      <mat-card-content>
        <mat-card-title> Editar um acabamento </mat-card-title>
        <mat-card-subtitle> Por favor escolha um acabamento da lista para poder editar.
          Se não existirem acabamentos disponíveis, crie um acabamento na opção acima. </mat-card-subtitle>
        <mat-grid-list cols="4" fxLayoutWrap="wrap" rowHeight="50px">
          <mat-grid-tile *ngFor="let tile of tiles2;let i = index;" [colspan]="tile.cols" [rowspan]="tile.rows"
            [style.background]="tile.color">
            {{tile.text}}

            </mat-grid-tile>
          </mat-grid-list>
          <p class="button-center">
            <button [disabled]="disableAllEditar" mat-raised-button color="primary" (click)="botaoEditarEvent()">Editar</button>
          </p>
        </mat-card-content>
      </mat-card>
      <!-- ELIMINAR UM ACABAMENTO -->
      <div fxLayout="row">
        <div fxFlex.gt-sm="50%">
          <mat-card>
            <mat-card-content>
              <mat-card-title> Eliminar um acabamento </mat-card-title>
              <mat-card-subtitle> Por favor escolha um acabamento da lista abaixo para ser eiminado.
              </mat-card-subtitle>
              <mat-form-field *ngIf="disabledAcabamentosList==false">
                <mat-select placeholder="{{acabamentoTextEliminar}}">
                  <mat-option *ngFor="let acabamento of acabamentosList" (click)="acabamentoEliminarEvent(acabamento)">
                    {{acabamento.tipo}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <label *ngIf="disabledAcabamentosList==true">
                Não existem acabamentos!
              </label>

              <p class="button-center">
                <button [disabled]="disableEliminar" mat-raised-button color="primary" (click)="botaoEliminarEvent()">Eliminar</button>
              </p>
            </mat-card-content>
          </mat-card>
        </div>
        <!-- LISTAR ACABAMENTOS -->
        <div fxFlex.gt-sm="50%">
          <mat-card>
            <mat-card-content>
              <mat-card-title> Listar acabamentos </mat-card-title>
              <mat-card-subtitle> Listagem de todos os acabamentos existentes/disponíveis e todas as suas
                características. </mat-card-subtitle>
              <p class="button-center">
                <button *ngIf="disabledAcabamentosList==false" mat-raised-button style="column-width: 100%"
                  [matMenuTriggerFor]="acabamentos">Clique aqui para ver a listagem
                  de acabamentos</button>
              </p>
              <mat-menu #acabamentos="matMenu">
                <button mat-menu-item [matMenuTriggerFor]="acabamentoDescription" *ngFor="let acabamento of acabamentosList; let i = index;">
                  {{i+1}} : {{acabamento.tipo}}
                  <mat-menu #acabamentoDescription="matMenu">
                    <button mat-menu-item>
                      Emissividade: {{acabamento.emissividade}}
                    </button>
                    <button mat-menu-item>
                      Metalicidade: {{acabamento.metalicidade}}
                    </button>
                    <button mat-menu-item>
                      Rugosidade: {{acabamento.rugosidade}}
                    </button>
                  </mat-menu>
                </button>
              </mat-menu>

              <label *ngIf="disabledAcabamentosList==true">
                Não existem acabamentos!
              </label>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </div>

</div>
<div *ngIf="flagServer">
  <div id="main">
    <div class="fof">
      <h1>Não foi possível aceder ao servidor.</h1>
    </div>
  </div>
</div>